<nav>
  <h1>Prototype</h1>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Foobar</a></li>
    <li><a href="">Settings</a></li>
  </ul>
</nav>